@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');


* {
    margin: 0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    background-color: #edebeb;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
}

.logo {
    height: 60px;
}

.menu {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
}

.menu>* {
    padding: 0px 20px;
}

.menu>li>a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
    color: #0D0907;
}

.menu>li>a:hover {
    color: #EB4619;
    border-bottom: #EB4619 2px solid;
}
.material-symbols-outlined {
    display: none;
}
.hero {
    height: 80vh;
    width: 100vw;
    position: relative;
    margin-bottom: 30px;
}

.hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top right;
    filter: brightness(0.5);
}

.tagline {
    width: 750px;
    color: #ffffff;
    word-wrap: break-word;
    white-space: normal;
    top: 19vh;
    left: 10vw;
    position: absolute;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 3px -1px 0 black,
        /* Top left shadow */
        1px -1px 0 black,
        /* Top right shadow */
        -1px 1px 0 black,
        /* Bottom left shadow */
        1px 1px 0 black;
}

.btn-holder {
    position: absolute;
    top: 50vh;
    left: 10vw;
}

.call-to-action {
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn-holder :first-child {
    background-color: #EB4619;
    margin-right: 10px;
}

.btn-holder :last-child {
    border: 1px solid black;
    color: black;
}

span {
    color: #EB4619;
}

.section {
    padding: 30px 30px;
    background-color: white;
    margin: 20px 20px;
    /* border: 1px solid #4D4D4D; */
    border-radius: 8px;
    box-sizing: 1px 1px 2px 0px #4D4D4D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.project-holder>div>* {
    margin: 5px;
}

.project-holder>div>img {
    height: 40vh;
    width: 40vh;
}

.card-img {
    height: 30vh;
    width: 30vh;
    border-radius: 8px;
}

.card-div {
    width: 1000px;
}

.project-holder {
    display: flex;
    justify-content: space-around;
    overflow: auto;
}

.project-holder>* {
    flex-direction: column;
}

/* footer */
footer {
    margin-top: 50px;
    background-color: #131313;
    color: white;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer * {
    margin: 7px 0px;
}

footer>* {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.social-handle {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 25vw;
    border-radius: 8px;
}

.social-handle>* {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#close-btn{
    display: none;
}


/* making the website mobile responsive */

@media (max-width: 600px) and (orientation: portrait) {

    .social-handle {
        width: 60vw;
    }

    .address {
        width: 60vw;
        word-wrap: break-word;
        text-align: center;
        line-height: 1.5;
        margin-top: 20px;
    }
    footer{
        margin-top: 10px;
    }
    .footer-tagline {
        width: 80vw;
        text-align: center;
    }

    .project-holder {
        overflow: auto;
    }

    #about {
        /* height: 100v */
        overflow: hidden;
        flex-direction: column-reverse;

    }
    .section{
        margin: 10px 20px;
    }
    .card-div {
        width: auto;
    }

    .card-img {
        width: 80vw;
        height: auto;
        margin-bottom: 30px;
    }

    .tagline {
        width: 85vw;
        color: #ffffff;
        word-wrap: break-word;
        white-space: normal;
        top: 6vh;
        left: 8vw;
        position: absolute;
        font-size: 6vw;
        font-weight: 900;
        text-shadow: 3px -1px 0 black,
            /* Top left shadow */
            1px -1px 0 black,
            /* Top right shadow */
            -1px 1px 0 black,
            /* Bottom left shadow */
            1px 1px 0 black;
    }

    .btn-holder {
        left: 8vw;
        top: 20vh;
    }

    .hero-image {
        width: 100vw;
        height: auto;
    }

    .call-to-action {
        padding: 1.5vh 4vw;
    }

    .hero {
        margin-bottom: 0px;
        width: fit-content;
        height: fit-content;
    }

    .logo {
        height: 50px;
    }

    .menu {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
    }

    .menu>li {
        margin-bottom: 10px;
    }

    header {
        /* flex-direction: column; */
        align-items: flex-start;
        padding: 5px 30px;
    }

    .material-symbols-outlined {
        display: block;
        margin: 15px 0px;
        font-size: 20px;
        font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
    }
    #close-btn{
        height: 30px;
        position: absolute;
        top: 15px;
        left: 86vw;
        display: none;
    }
}